<template>
    <div class = "body expand-md">
        
     <Sidebar/>
     <Navbar/>
     <prodlist/>
    
   <div class = "main expand-md">
      </div>

<div>
<b-card class ="home expand-md"> 
     <h3 >|Inventory</h3>   
  </b-card>
</div>
         
       <b-container class = "container">
          
             <h2>Edit Products</h2>
            
             <hr/>
        
         <form id="validateForm" @submit.prevent="updateProduct" enctype="multiport/form-data" novalidate> 
           
 <b-row>   
    <b-col>
      <b-input type="text" id="prodName" v-model="products.product_name" placeholder="Product Name" style="width:200px;margin-left:20px;"></b-input>
      </b-col>
       <b-col>
     <b-input id="quan" v-model="products.quantity" placeholder="Quantity" style="width:120px;margin-left:20px;"></b-input>
       </b-col>
    <b-col>
      <b-input id="price" v-model="products.price" placeholder="Price" style="width:200px;margin-left:20px;"></b-input>
    </b-col>
  </b-row>

   <b-row>
      <b-col>
        <b-input id="brand" v-model="products.Brand" placeholder="Brand" style="width:200px;margin:20px;"></b-input>
         </b-col>
    <b-col>
  <b-input id="log" v-model="products.logistic_company" placeholder="Logistic Partner" style="width:250px;margin:20px;"></b-input>
    </b-col>
       <b-col>
        <b-input id="personel" v-model="products.personel" placeholder="Personel in-charge" style="width:250px;margin:20px;"></b-input>
    </b-col>  
  </b-row>         
    
           <b-row>
              <b-col>
             <b-button @click="updateProduct" variant="success" style ="width:150px; margin-left:20px;">Submit</b-button>      
           </b-col>  
         </b-row>
       </form>
     </b-container>


  </div>
</template>

<script>


import Sidebar from './Sidebar';
import Navbar from './Navbar';
import prodlist from './Inventorybod/prodlist';


export default {
 name: 'editProduct',
      components:{
        Navbar,
        Sidebar,
          prodlist,
        
        
    },
   data() {
          return {
            url: document.head.querySelector('meta[name="url"]').content,
            products : {},
            product_name: '',
            quantity: '',
            price: '',
            Brand: '',
            logistic_company: '',
            personel: '',
            errors: []
               
          }
        },
        methods: {
              loadData(){
                  let url = this.url + `/api/updateProduct/${this.$route.params.id}`;
                 this.axios.get(url).then((response) => {
                this.products = response.data;
                console.log(this.products);
                 });
              },
 

           updateProduct() {
            this.errors = [];
            if(!this.products.product_name) {
                this.$toastr.success('Product Name is Required');
            }
            if(!this.products.quantity) {
              this.$toastr.success('Quantity is required');
            }
            if(!this.products.price) {
              this.$toastr.error('Price is required');
            }
            if(!this.products.Brand) {
               this.$toastr.warning('Brand is required');
            }
            if(!this.products.logistic_company) {
             this.$toastr.info('Logistics Company is required');
           }
            if(!this.products.personel) {
              this.$toastr.success('Personel is required');
            }

            if(!this.errors.length){
              let formData = new FormData();
              formData.append('product_name', this.products.product_name);
              formData.append('quantity', this.products.quantity);
              formData.append('price', this.products.price);
              formData.append('Brand', this.products.Brand);
              formData.append('logistic_company', this.products.logistic_company);
              formData.append('personel', this.products.personel);
              let url = this.url + `/api/update_Product/${this.$route.params.id}`;
              this.axios.post(url, formData).then((response) => {

                 if(response.status) {    

                   this.$swal.fire('Saved!','Product Added','success');   
                   this.$router.push({
                     name: '/'
                   });
                 }else{
                    this.$swal('Error');
                 }
              }).catch(error => {
                    this.errors.push(error.response.data.error);
              });
            }
          }
              
        },
        created(){
             this.loadData();
  
        },
     
        mounted: function() {
              console.log('Edit Products Components Loaded');
        }
  

}
</script>

<style scoped>

#toast-container > .toast-custom{
   content:"\f00C";
}
.toast-custom{
background-color: purple;
}


.container{
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
width: 1080px;
height: 270px;
left: 170px;
top: 120px;

box-sizing: border-box;
   background: rgba(76, 175, 80, 0.3);
background: #ffffff;
border:black;
}



.hm{
    font-family: 'Segoe UI';
    font-size: 30px ;
}

.home{
  display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 20px;

box-sizing: border-box;

background: #ffffff;
}

.tb{
  padding-left:30px;
  padding-right:50px;
  display:grid;
  grid-template-columns: auto auto auto;
grid-column-gap:30px;
grid-row-gap:30px;
 
}


</style>