<template>
<div class = "body expand-md">
      <Navbar/>
     <Sidebar/>
    <Inventbod/>
     <Inventlist/>
  </div>

</template>

<script>

import Sidebar from './Sidebar';
import Navbar from './Navbar';
import Inventbod from './Inventorybod/Inventbod';
import Inventlist from './Inventorybod/Inventlist';

export default {
    name: 'Inventory',
     components:{
        Navbar,
        Sidebar,
        Inventbod,
        Inventlist,
    },
}
</script>

<style>

</style>