<template>
  <div class = "body expand-md">
     <Navbar/>
     <Sidebar/>
     <Transbod/>
  </div>

</template>

<script>

import Sidebar from './Sidebar';
import Navbar from './Navbar';
import Transbod from './Transactionbod/Transbod';

export default {
    name: 'Transaction',
      components:{
        Navbar,
        Sidebar,
        Transbod,
    },
}
</script>

<style>

</style>