<template>
  
<b-card class ="sold expand-md">
<h4>Sold Products  <hr/></h4>

<div class ="col-4">
  <form>
    <form @submit.prevent="view">   
      <div class="input-group">
      <input
          v-model ="search"
          type ="text"
          placeholder ="Search"
          class ="form-control"
          style = "bottom:5px;"
          >
      </div>
        </form>
  </form>
</div>


<table class="table table-bordered expand-md">
  <thead>
    <tr>
      <th scope="col">Product_ID</th>
      <th scope="col">Product_Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
     
    </tr>
  </thead>
  <tbody v-for="product in products.data" :key="product.id">
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.product_name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.Brand}}</td>

    </tr>
    
    
  </tbody>
</table>
             <pagination align="center" :data="products" @pagination-change-page="view"></pagination>
                    
</b-card>

</template>

<script>
export default {
    name: 'Soldlist',
    created(){
   this.view();
},
 data() {
          return {
            url: document.head.querySelector('meta[name="url"]').content,
            search:'',
            products : {},
            product_name: '',
            quantity: '',
            price: '',
            Brand: '',
            errors:[]
          }
},
methods: {
     /* soldData(){
          let url = this.url + '/api/getSold';
          this.axios.get(url).then(response => {
            this.products = response.data;
            console.log(this.products);
          });
        },
      */
      view(page=1){
                axios.get(`/api/sold?page=${page}&search=${this.search}`).then(response => {
            this.products = response.data;
            console.log(this.products);

          });
        
            },
        

},

   mounted: function(){
     console.log('Sold Products Loaded');
   }
}


</script>

<style scoped>

.sold{ 
position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 450px;
box-sizing: border-box;
background: #ffffff;
}
</style>