<template>
  <div>
     <router-view/>
  </div>

</template>

<script>


export default {
    name:'app'
  
}
</script>

<style scoped>
body{
margin: 0px; 
padding: 0px; 
background-image:url("../img/home.png");
background-color: bisque;
}

</style>