<template>
    <div class = "body expand-md">

   <div>
     <b-card class ="home expand-md">
     <h3 >|Inventory</h3>  
     </b-card>
   </div>     
       <b-container class = "container">   
             <h2>Add New Products </h2>
             <hr/>     
       <form id ="validateForm" @submit.prevent="saveProd" enctype="multiport/form-data" novalidate>

   <b-row>   
    <b-col>
      <b-input type="text" id="prodName" v-model="products.product_name" placeholder="Product Name" style="width:200px;margin-left:20px;"></b-input>
       </b-col>
    <b-col>
 <b-input id="quan" v-model="products.quantity" placeholder="Quantity" style="width:120px;margin-left:20px;"></b-input>
    </b-col>
      <b-col>
        <b-input id="price" v-model="products.price" placeholder="Price" style="width:200px;margin-left:20px;"></b-input>
          </b-col>

           <b-col>
           <div class="form-group">
        <select class="form-control" v-model="selected" style="width:200px;margin-left:20px;">
        <option :value="null" disabled>--Select Transaction--</option>
        <option v-for="description in descriptions"  :key="description.id">{{description.description}}</option>
         </select>
          </div>
         </b-col>

            </b-row>

              <b-row>
           <b-col>
         <b-input id="brand" v-model="products.Brand" placeholder="Brand" style="width:200px;margin:20px;"></b-input>
      </b-col>
  <b-col>
        <b-input id="log" v-model="products.logistic_company" placeholder="Logistic Partner" style="width:250px;margin-top:20px;"></b-input>
          </b-col>
            <b-col>
              <b-input id="personel" v-model="products.personel" placeholder="Personel in-charge" style="width:250px;margin:20px;"></b-input>
               </b-col>  

                 <b-col>
        <b-button @click="saveProd"  variant="success" style ="width:150px; margin:20px;">Submit</b-button> 
        </b-col>   
               </b-row>         
       </form>         
     </b-container>


  </div>
</template>


<script>
export default {
  name: 'Inventbod',

   created: function(){
          this.getDescription()
        },

   data() {
          return {
            url: document.head.querySelector('meta[name="url"]').content,
            products : {},
            product_name: '',
            quantity: '',
            price: '',
            Brand: '',
            logistic_company: '',
            personel: '',
            errors:[],

            desc:'0',
            description:'',
            descriptions: [],
            selected: null,

            
            transactions: {},
            product_name: '',
            quantity: '',
            personel: ''
          
          }
        },
         
        methods: {
          saveProd() {
            this.errors = [];
            if(!this.products.product_name) {
                this.$toastr.error("Product Name is required",{iconClass:"toast-custom"});
            }
            if(!this.products.quantity) {
              this.$toastr.error("Quantity is required");
            }
            if(!this.products.price) {
              this.$toastr.error("Price is required");
            }
            if(!this.products.Brand) {
               this.$toastr.error("Brand is required");
            }
            if(!this.products.logistic_company) {
             this.$toastr.error("Logistics Company is required");
           }
            if(!this.products.personel) {
              this.$toastr.error("Personel is required");
            }
            
             

           if(!this.errors.length){
              let formData = new FormData();
              this.saveTrans();
              formData.append('product_name', this.products.product_name);
              formData.append('quantity', this.products.quantity);
              formData.append('price', this.products.price);
              formData.append('Brand', this.products.Brand);
              formData.append('logistic_company', this.products.logistic_company);
              formData.append('personel', this.products.personel);
              formData.append('dateFormat("DD MMMM, YYYY"', this.products.created_at);             
              let url = this.url + '/api/saveProduct';
              this.axios.post(url, formData).then((response) => {

                 if(response.status) {    
                   this.$swal.fire('Saved!','Product Added','success');   
                  document.getElementById("prodName").value = "";
                  document.getElementById("quan").value = "";
                  document.getElementById("price").value = "";
                  document.getElementById("price").value = "";
                  document.getElementById("brand").value = "";
                  document.getElementById("log").value = "";
                  document.getElementById("personel").value = "";
                 }else{
                    this.$swal('Error');
                 }
              }).catch(error => {
                    this.errors.push(error.response.data.error);
              });
            }
          },
         
          saveTrans(){
              if(!this.errors.length){
              let formData = new FormData();
              formData.append('product_name', this.products.product_name);
              formData.append('quantity', this.products.quantity);
              formData.append('description', this.selected);  
              formData.append('personel', this.products.personel);
              let url = this.url + '/api/saveTransaction';
              this.axios.post(url, formData).then((response) => {

                 if(response.status) {    
                  console.log("saved Trans")
                 }else{
                  console.log("Trans not saved") 
                 }
              }).catch(error => {
                    this.errors.push(error.response.data.error);
              });
            }
             
          },
          getDescription(){
              let url = this.url + '/api/getDescription';
            this.axios.get(url).then((response)   => {
             this.descriptions = response.data;
                 console.log("Get Description");
              });
            },    
        },
      
        mounted: function() {
              console.log('Add Products Components Loaded');
        }
  

}
</script>

<style scoped>


.container{
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto auto;
width: 1080px;
height: 270px;
left: 170px;
top: 100px;

box-sizing: border-box;
   background: rgba(76, 175, 80, 0.3);
background: #ffffff;
border:black;
}



.hm{
    font-family: 'Segoe UI';
    font-size: 30px ;
}

.home{
  display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 20px;

box-sizing: border-box;

background: #ffffff;
}

.tb{
  padding-left:30px;
  padding-right:50px;
  display:grid;
  grid-template-columns: auto auto auto auto;
grid-column-gap:30px;
grid-row-gap:30px;
 
}

 /* this will set the toastr icon */
 #toast-container > .toast-custom {
    content: "\f00C";
}

/* this will set the toastr style */
.toast-custom {
    background-color: #DB2323;
}

</style>