 <template>
<div class="">

  <div class = "main expand-md">
     
 <b-card class ="home expand-md">
<h4>Products Available  <hr/></h4>

<div class ="col-4">
  <form>
    <form @submit.prevent="view">   
      <div class="input-group">
      <input
          v-model ="search"
          type ="text"
          placeholder ="Search"
          class ="form-control"
          style = "bottom:5px;"
          >
      </div>
        </form>
  </form>
</div>

<table class="table table-bordered expand-md">
  <thead>
    <tr>
      <th scope="col">Product_ID</th>
      <th scope="col">Product_Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
      <th scope="col">Date_Delivered</th>
      <th scope="col">Action</th> 
    </tr>
  </thead>
  
    <tr v-for="product in products.data" :key="product.id">
      <th scope="row">{{product.id}}</th>
      <td>{{product.product_name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.Brand}}</td>
      <td>{{product.created_at}}</td>
     
      <td> 
        <router-link :to="{name:'/sellprod', params: {id:product.id}}" class="btn  btn-sm" style="background-color:#D87621;color:white;">
             Sold</router-link>  

             <router-link :to="{name:'/updateProduct', params: {id:product.id}}" class="btn  btn-sm" style="background-color:#16773D;color:white;">
             Edit</router-link>  

               <button   type="button" class="btn btn-sm" style="background-color:#C50922;color:white;"  @click.prevent="deleteProduct(product.id)">Delete</button>
         </td>
    </tr>    
</table>                    
             <pagination align="center" :data="products" @pagination-change-page="view"></pagination>               
</b-card>
 </div>
   </div>
  
</template>

<script>
import pagination from 'laravel-vue-pagination'
export default {
    name: 'Products',
    created() {
     this.view();
     
    },
     components:{
            pagination
        },
    methods:{
     

          view(page=1){
                axios.get(`/api/index?page=${page}&search=${this.search}`).then(response => {
            this.products = response.data;
            console.log(this.products);

          });
        
            },
    
        deleteProduct(id) {
           let url = this.url + `/api/deleteProduct/${id}`;
           this.axios.delete(url).then(response => {
             if(response.status){
                  this.view();
                 this.$swal.fire('Deleted!','Product Deleted','success');
             }
             else{
               this.$swal.fire('Error');
             }

           });
        },
    },
    mounted() {
  
      console.log('Product List Mounted');
    },
    data() {
      return {
        url: document.head.querySelector('meta[name="url"]').content,
        search:'',
        products:{},
            data:'' ,
            length: ''
      }
    }
}
</script>

<style scoped>

.home{
   
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 370px;

box-sizing: border-box;

background: #ffffff;
}




</style>