 <template>
<div class="">

  <div class = "main expand-md">
     
 <b-card class ="home expand-md">
<h4>Products Available <hr/>

</h4>

<table class="table table-bordered expand-md">
  <thead>
    <tr>
      <th scope="col">Product_ID</th>
      <th scope="col">Product_Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
      <th scope="col">Date_Delivered</th>
    </tr>
  </thead>
  <tbody v-for="product in products.data" :key="product.id">
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.product_name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.Brand}}</td>
      <td>{{product.created_at}}</td>
     
    </tr>
    
    
  </tbody>
</table>
  <pagination align="center" :data="products" @pagination-change-page="view"></pagination>
            
</b-card>
 </div>
   </div>
  
</template>

<script>
export default {
    name: 'prodlist',
    created() {
           this.view();
     
    },
    methods:{
       
         view(page=1){
                axios.get(`/api/index?page=${page}`).then(response => {
            this.products = response.data;
            console.log(this.products);
 
          });
        
            },
  
        deleteProduct(id) {
           let url = this.url + `/api/deleteProduct/${id}`;
           this.axios.delete(url).then(response => {
             if(response.status){
                  this.view();
                 this.$swal.fire('Deleted!','Product Deleted','success');
             }
             else{
               this.$swal.fire('Error');
             }

           });
        },
    },
    mounted() {
      console.log('Product List Mounted');
    },
    data() {
      return {
        url: document.head.querySelector('meta[name="url"]').content,
        products:[],
            data: '',
            length: ''
      }
    }
}
</script>

<style scoped>

.home{
   
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 370px;

box-sizing: border-box;

background: #ffffff;
}




</style>