<template>
    <div class = "body expand-md">
   <div class = "main expand-md">
      </div>
         <div>
<b-card class ="home expand-md">
 
     <h3 >|Transactions</h3>
      
  </b-card>
</div>
       <div class = "container expand-md">

        
<h4>Transactions list <hr/></h4>

<div class ="col-4">
  <form>
    <form @submit.prevent="view">   
      <div class="input-group">
      <input
          v-model ="search"
          type ="text"
          placeholder ="Search"
          class ="form-control"
          style = "bottom:5px;"
          >
      </div>
        </form>
  </form>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Transaction_No</th>
       <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
      <th scope="col">Description</th>
      <th scope="col">Personel</th>
      <th scope="col">Date</th>
       <th scope="col">Action</th>
     
      
      
    
    </tr>
  </thead>
  <tbody v-for="transaction in transactions.data" :key="transaction.id">
    <tr>
      <th scope="row">{{transaction.id}}</th>
      <td>{{transaction.product_name}}</td>
       <td>{{transaction.quantity}}</td>
      <td>{{transaction.description}}</td>
      <td>{{transaction.personel}}</td>
      <td>{{transaction.created_at}}</td>   
      <td>
       <button   type="button" class="btn btn-danger btn-sm"  @click.prevent="deleteTransaction(transaction.id)">Delete</button>
      </td>
     
    <tr/>
  </tbody>
</table>

      <pagination align="center" :data="transactions" @pagination-change-page="view"></pagination>
             
     </div>
  </div>
</template>

<script>
export default {
  name: 'Transbod',
  created() {
     // this.loadData();
     this.view();
    },
    methods: {
          /*  loadData(){
          let url = this.url + '/api/getTransaction';
          this.axios.get(url).then(response => {
            this.transactions = response.data;
            console.log(this.transactions);
          });
        }, */
           view(page=1){
                axios.get(`/api/Trans?page=${page}&search=${this.search}`).then(response => {
            this.transactions = response.data;
            console.log(this.transactions);

          });
        
            },
  

              deleteTransaction(id) {
           let url = this.url + `/api/deleteTransaction/${id}`;
           this.axios.delete(url).then(response => {
             if(response.status){
                  this.view();
                 this.$swal.fire('Deleted!','Transaction Deleted Deleted','success');
             }
             else{
               this.$swal.fire('Error');
             }

           });
        }
    },
     mounted() {
      console.log('Transaction List Mounted');
    },
    data() {
      return {
        url: document.head.querySelector('meta[name="url"]').content,
        search:'',
        transactions:{}
      }
    }
}
</script>

<style scoped>


.container{
  position: absolute;
width: 1080px;
height: 445px;
left: 170px;
top: 120px;

box-sizing: border-box;
  opacity:1;
background: #ffffff;
}

.hm{
    font-family: 'Segoe UI';
    font-size: 30px ;
}

.home{
    display: flex;
  justify-content: center;
    position: absolute;
width: 1080px;
height: 55px;
left: 170px;
top: 20px;

box-sizing: border-box;

background: #ffffff;
}

</style>